.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.crud-table {
  margin-top: 20px;
  max-width: 1052px;
  text-align: left;
  margin: 10px auto;
  border: 1px solid gray;
  padding: 30px;
  box-sizing: border-box;
}

table.table.table-striped.table-bordered.table-hover thead th {
  padding: 13px 28px;
  background: #1a6261;
  color: white;
}
table.table.table-striped.table-bordered.table-hover tr td{
  padding: 20px;
}
table.table.table-striped.table-bordered.table-hover tr:nth-child(even) {
  background-color: #ececec;
  color: #6b3e3e;
}

.Table {
  width: 80%;
  margin: auto;
}



.pagination {
  justify-content: center;
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 15px;
}
.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #1a6261;
  border-color: #1a6261;
}
.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #1a6261;
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination span{
  color: black;
  text-decoration: none;
}





.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #81838500;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: #2d3332;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #2d3332;
  color: #fff;
  cursor: pointer;
}
    